<!DOCTYPE html>
<html>
  <head>
    <title>Plant Recognition</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.rtl.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap-grid.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap-reboot.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap-utilities.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.css"
    />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
  </head>
  <body>
    <!--        Navbar-->
    <nav class="navbar custom-navbar-color">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <div class="d-flex flex-row align-items-center">
          <img src="images/plant.gif" class="" alt="" />
          <h3 class="navbar-brand my-2 mx-0 text-white text-center">
            Plant Recognition
          </h3>
        </div>
        <div class="d-flex align-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 50 50"
            style="fill: #ffffff"
          >
            <path
              d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"
            ></path>
          </svg>
          <input
            class="form-control me-2 rounded-pill"
            style="width: 400px"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </div>

        <form role="search">
          <div class="d-flex justify-content-center align-items-center">
            <p class="text-white mx-0 mb-0">Sort</p>
            <svg
              width="40"
              height="40"
              fill="white"
              class="bi bi-filter-left mx-3"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
              />
            </svg>
            <button
              type="button"
              class="btn btn-success rounded-pill d-flex justify-content-center align-items-center mx-2"
              style="width: 120px; height: 35px"
              data-bs-toggle="modal"
              data-bs-target="#newPostModal"
            >
              New post
            </button>

            <!-- New post modal -->
            <div
              class="modal fade"
              id="newPostModal"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="newPostModal"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-2" id="staticBackdropLabel">
                      Add a new plant to the list!
                    </h1>
                  </div>
                  <div class="modal-body">
                    <!-- Name of the plant -->
                    <label for="nameOfPlant" class="form-label"
                      >Name of the plant</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="nameOfPlant"
                      placeholder="Please enter the name of the plant"
                    />

                    <!-- Upload Image -->
                    <label for="uploadImage" class="form-label my-2"
                      >Upload image</label
                    >
                    <br />
                    <div class="d-flex align-items-center">
                      <button type="button" class="btn btn-primary">
                        Select from disk
                      </button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="mx-2 bi bi-upload"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
                        />
                        <path
                          d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"
                        />
                      </svg>
                    </div>

                    <!-- user nickname -->
                    <label for="userNickname" class="form-label my-2"
                      >User nickname</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="userNickname"
                      placeholder="Please enter your nickname"
                    />

                    <!-- Date and time of plant seen -->
                    <label for="dateAndTime" class="form-label my-2"
                      >Date and time plant was seen</label
                    >
                    <br />
                    <input
                      type="date"
                      id="datePickerInput"
                      class="form-control"
                    />

                    <!-- plant description -->
                    <label for="plantDescription" class="form-label my-2"
                      >Plant description</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="plantDescription"
                      placeholder="Enter plant description"
                    />

                    <!-- Characteristics -->
                    <label for="Characteristics" class="form-label my-2"
                      >Characteristics</label
                    >
                    <br />
                    <!-- Plant flowers -->
                    <div
                      class="d-flex justify-content-between align-items-center form-switch"
                    >
                      <label class="form-label" for="flowerSwitch"
                        >Does the plant have any flowers?</label
                      >
                      <input
                        class="form-check-input mx-5"
                        type="checkbox"
                        role="switch"
                        id="flowerSwitch"
                      />
                    </div>

                    <!-- Plant leaves  -->
                    <div
                      class="d-flex justify-content-between align-items-center form-check form-switch"
                    >
                      <label class="form-label" for="leavesSwitch"
                        >Does the plant have leaves?</label
                      >
                      <input
                        class="form-check-input mx-5"
                        type="checkbox"
                        role="switch"
                        id="leavesSwitch"
                      />
                    </div>

                    <!-- Plant fruit seeds -->
                    <div
                      class="d-flex justify-content-between align-items-center form-check form-switch"
                    >
                      <label class="form-check-label" for="fruitSeeds"
                        >Does the plant has fruits or seeds?</label
                      >
                      <input
                        class="form-check-input mx-5"
                        type="checkbox"
                        role="switch"
                        id="fruitSeeds"
                      />
                    </div>

                    <!-- Color of flowers -->
                    <div
                      class="d-flex justify-content-between align-items-center form-check my-1"
                    >
                      <label class="form-check-label mx-3" for="flowerColor"
                        >Color of Flower</label
                      >
                      <input
                        class="form-control mx-5"
                        type="text"
                        role="switch"
                        id="flowerColor"
                        style="width: 150px"
                        placeholder="Enter flower color"
                      />
                    </div>

                    <!-- Sun exposure -->
                    <div
                      class="d-flex justify-content-between align-items-center my-3"
                    >
                      <label class="form-check-label" for=""
                        >Sun exposure in the area</label
                      >

                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-primary dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Action
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li>
                            <a class="dropdown-item" href="#">Another action</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Something else here</a
                            >
                          </li>
                          <li><hr class="dropdown-divider" /></li>
                          <li>
                            <a class="dropdown-item" href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Post button -->
                    <button
                      type="button"
                      class="btn btn-primary my-3 custom-button"
                      style="width: 100%;"
                    >
                      Post!
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of new post modal -->

            <button
              type="button"
              class="btn btn-primary rounded-pill d-flex justify-content-center align-items-center"
              style="width: 120px; height: 35px"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Login
            </button>

            <!-- Login Modal -->
            <div
              class="modal fade"
              id="staticBackdrop"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-2" id="staticBackdropLabel">
                      Welcome back!
                      <br />
                      Login here.
                    </h1>
                  </div>
                  <div class="modal-body">
                    <label for="username" class="form-label">Username</label>
                    <input
                      type="email"
                      class="form-control"
                      id="username"
                      placeholder="Please enter your username"
                    />
                    <button
                      type="button"
                      class="btn btn-primary my-3"
                      style="width: 100%; background-color: #22338f"
                    >
                      Log in!
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of login modal -->
          </div>
        </form>
      </div>
    </nav>
    <div class="container d-flex justify-content-center align-items-center">
      <!--    Main content-->
      <!-- <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Content Loading</h1>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div> -->

      <!-- Cards -->
      <div class="card my-1" style="width: 60%;">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <p class="m-0 mx-2">Username</p>
          </div>
          <div class="d-flex align-items-center">
            <p class="m-0">Status: Incomplete</p>
            <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right mx-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
          </div>
          </div>
      </div>
      <!-- Plant image -->
        <img src="images/plant2.jpg" class="card-img-top align-items-center" alt="..." style="width: auto; height: 500px;">
        <div class="card-body">
          <!-- Plant name -->
          <h5 class="card-title">Special plant</h5>
          <!-- Plant description -->
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        </div>
        <div class="card-footer text-body-secondary">
          <div class="d-flex justify-content-between align-items-center">
          <!-- Separate div for likes and comments -->
            <div class="d-flex align-items-center">
            <!-- Likes  -->
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 122.88 107.39"><defs><style>.cls-1{fill:#ed1b24;fill-rule:evenodd;}</style></defs><title>red-heart</title><path class="cls-1" d="M60.83,17.18c8-8.35,13.62-15.57,26-17C110-2.46,131.27,21.26,119.57,44.61c-3.33,6.65-10.11,14.56-17.61,22.32-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.55C29.16,76.89,1,55.92,0,29.94-.63,11.74,13.73.08,30.25.29c14.76.2,21,7.54,30.58,16.89Z"/>
            </svg>
            <p class="m-0 mx-1">25 Likes</p>
            
            <!-- Comments -->
            <div class="d-flex">
              <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-quote-fill mx-2" viewBox="0 0 16 16">
              <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M7.194 6.766a1.7 1.7 0 0 0-.227-.272 1.5 1.5 0 0 0-.469-.324l-.008-.004A1.8 1.8 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.5 2.5 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.5 2.5 0 0 0-.228-.4 1.7 1.7 0 0 0-.227-.273 1.5 1.5 0 0 0-.469-.324l-.008-.004A1.8 1.8 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
            </svg>
            </a>
            <a href="" class="text-decoration-none text-body-secondary">
              <p class="m-0">Comments</p>
            </a>
          </div>
        </div>
        <!-- Suggest -->
        <div class="d-flex align-items-center">
          <a href="" class="text-decoration-none text-body-secondary">
            <p class="m-0">Suggest</p>
          </a>
          <a class="text-decoration-none" href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-flag-fill mx-2" viewBox="0 0 16 16">
            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
          </svg>
        </a>
        </div>
      </div>
      </div>

    </div>
  </body>
</html>
